body {
    background-color: #fbe6dc;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(33, 82%, 76%);
    padding: 16px;


}

.cabecalho strong {
    font-size: 32px;
    color: rgb(0, 0, 0);
    font-family: "Yeseva One", serif;
    text-shadow: 2px 2px rgb(154, 152, 152);
    display: flex;
    text-align: center;

}

.nav {
    background-color: #000000;
    text-align: center;
    display: flex;
    justify-content: space-around;

}


.nav .active {
    color: rgb(163, 19, 0);

}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    margin: 16px;
    transition: color 0.5s ease-in;
    font-size: 20px;
    font-family: "Lobster", sans-serif;
    align-items: center;




}

.nav a:hover {
    color: rgb(150, 26, 34);
}

.logo img {
    width: 140px;
}


.perfil {
    background-color: #EAEAEA;
    text-align: start;
    flex-direction: column;
    width: 550px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: rgba(148, 134, 134, 0.4) -5px 5px, rgba(151, 144, 144, 0.3) -10px 10px, rgba(163, 156, 156, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -20px 20px, rgba(0, 0, 0, 0.05) -25px 25px;
    flex-wrap: wrap;
}

.perfis {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 30px;
    flex-wrap: wrap;
}

h1 {
    font-family: "Concert One", sans-serif;
    text-shadow: 3px 3px rgb(204, 202, 202);
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

.perfil p {
    font-family: "Lora", serif;
    
}

.foto img {
    width: 300px;


}

.foto {
    display: flex;
    align-items: center;
    padding: 20px;
}


.foto2 img {
    width: 300px;


}

.foto2 {
    display: flex;
    align-items: center;
    padding: 20px;

}

.personagens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.personagens2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.rodape {
    background-color: #F4C68E;
}

.logoAutor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoAutor img {
    width: 140px;
    margin-left: 70px;

}

.logoAutor h4 {
    font-size: 30px;
    margin-left: -270px;
    color: #212121;
    font-weight: 100;
    font-family: Extra;

}

.frase2024 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.frase2024 h2 {
    color: #212121;
    font-weight: 100;
}


.frase2024 a {
    color: #212121;
    font-weight: 100;
}

.insta img {
    width: 45px;
    border-radius: 30px;
    background-color: #FF9029;
    margin-left: -220px;
}

.face img {
    width: 50px;
    border-radius: 700px;
    background-color: #FF9029;
    margin-left: -400px;
}

.acarteira strong {
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-family: "Yeseva One", serif;
    text-shadow: 2px 2px rgb(154, 152, 152);


}

@media (max-width: 580px) {
    .nav {
        flex-direction: column;
    }
}

@media (max-width: 950px) {
    .frase2024 {
        font-size: 10px;
    }
}

@media (max-width: 726px) {
    .perfil p {
        font-size: 10px;
    }
}

