body {
    background-color: #fbe6dc;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(33, 82%, 76%);
    padding: 16px;


}

.cabecalho strong {
    font-size: 32px;
    color: rgb(0, 0, 0);
    font-family: "Yeseva One", serif;
    text-shadow: 2px 2px rgb(154, 152, 152);
    display: flex;
    text-align: center;

}

.nav {
    background-color: #000000;
    text-align: center;
    display: flex;
    justify-content: space-around;

}


.nav .active {
    color: rgb(163, 19, 0);

}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    margin: 16px;
    transition: color 0.5s ease-in;
    font-size: 20px;
    font-family: "Lobster", sans-serif;
    align-items: center;




}

.nav a:hover {
    color: rgb(150, 26, 34);
}

.logo img {
    width: 140px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


main {
    margin-top: 15px;
    width: 650px;
    height: 500px;
}


.review {
    background-color: #EAEAEA;
    border-left: 20px solid #DDDDDD;
    border-bottom: 20px solid #DDDDDD;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    line-height: 1.7;
    color: #555;
    position: relative;
    width: 650px;
    text-align: center;
    margin: 10px;
   
}


.review p {
    margin-bottom: 20px;
    width: 600px;
   font-size: 16px;
}

h1 {
    font-family: "Concert One", sans-serif;
    text-shadow: 3px 3px rgb(204, 202, 202);
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

.resenha2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.image img {
    width: 250px;
}

* {
    box-sizing: border-box;
  }
  
  .container {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

   
  }
  
  .rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    
    position: relative;
  }
  
  .rating-0 {
    filter: grayscale(100%);
  }
  
  .rating>input {
    display: none;
  }
  
  .rating>label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
  }
  
  .rating>input:checked~label,
  .rating>input:checked~label~label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  }
  
  .feedback {
    max-width: 360px;
  
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
    background-color: #ebbc8c;
    padding: 20px;
    margin-inline: 50px;
  }

  .rodape{
    background-color: #F4C68E;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.logoAutor{
display: flex;
align-items: center ;
justify-content: space-between;
}

.logoAutor img{
    width: 140px;
    margin-left: 70px;
    
}

.logoAutor h4{
    font-size: 30px;
   margin-left: -270px;
   color: #212121;
   font-weight: 100;
   font-family: Extra;
   
}

.frase2024{
    display: flex;
    align-items: center;
    justify-content: center;
}

.frase2024 h2{
    color: #212121;
    font-weight: 100;
}


.frase2024 a{
    color: #212121;
    font-weight: 100;
}

.insta img {
    width: 45px;
    border-radius: 30px;
    background-color: #FF9029;
    margin-left: -220px;
}

.face img {
    width: 50px;
    border-radius: 700px;
    background-color: #FF9029;
    margin-left: -400px;
}

.acarteira strong {
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-family: "Yeseva One", serif;
    text-shadow: 2px 2px rgb(154, 152, 152);
    

}

@media (max-width: 950px) {
  .frase2024{
      font-size: 10px;
  }
  }

  @media (max-width: 950px) {
    .review{
        font-size: 10px;
    }
    }

@media (max-width: 580px) {
  .nav {
      flex-direction: column;
  }
}


